<ion-header [translucent]="true" class="cabecera">
  
  <div class="logo-contenedor">
    <ion-img src="/assets/logo.png" alt="No hay logo"></ion-img>
  </div>
  <ion-toolbar color="paleta" class="toolbar-c"> 
    
    <ion-buttons slot="end" class="boton-guesa">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="irHomeCli()">
      Ivan's
    </ion-title>
  </ion-toolbar>
  
  <div class="categorias">
    <ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button>
  </div>

</ion-header>

<ion-content class="cuerpo">
  
  <ion-grid>

    <ion-row>
      <ion-col>
        <h1 class="nombre-pag" >Carrito</h1>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col class="contenedor-boton">
        <ion-button (click)="irHistorial()">Ver historial de compras</ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <br>
    <div *ngIf="(hayCarrito === true)">
      <app-prod-carrito *ngFor="let x of detalles" [nombreProd]="x.nombreprod" [precioProd]="x.precio" [imagenProd]="x.foto" [cantidadProd]="x.cantidad" [subtotal]="x.subtotal" [iddetalle]="x.iddetalle" [idventa]="carrito.idventa" [idprod]="x.productod"></app-prod-carrito>

      <ion-row *ngIf="(carrito.estado === 'Activo')">
        <ion-col class="monto">
          <h2>Monto total:</h2>
        </ion-col>
        <ion-col class="monto">
          <h2>{{carrito.total | currency:'$':true:'4.0-0'}}</h2>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="(carrito.estado === 'Activo')">
        <ion-col></ion-col>
        <ion-col class="contenedor-boton">
          <ion-button (click)="Pagar()">Pagar</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </ion-grid>


</ion-content>
