<ion-header [translucent]="true" class="cabecera">
  
  <div class="logo-contenedor">
    <ion-img src="/assets/logo.png" alt="No hay logo"></ion-img>
  </div>
  <ion-toolbar color="paleta" class="toolbar-c"> 
    
    <ion-buttons slot="end" class="boton-guesa">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="irHome()">
      Ivan's
    </ion-title>
  </ion-toolbar>
  
  <div class="categorias">
    <ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button>
  </div>

</ion-header>

<ion-content [fullscreen]="true" class="cuerpo">

  
  <ion-grid class="contenido">
    
    <ion-row>
      <ion-col>
        <h1 class="nombre-pag">Fijaciones</h1>
      </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col>
        <div class="contenedor-prod">
          <h2>Pestillo para puerta</h2>

          <div class="contenedor-imagen">
            <ion-img src="/assets/pestillo.jpg" alt="No hay imagen :c"></ion-img>
          </div>

          <h3>$5.000</h3>
          
          <ion-button>Ir</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>