<ion-header [translucent]="true" class="cabecera">
  <div class="logo-contenedor">
    <ion-img src="/assets/logo.png" alt="No hay logo"></ion-img>
  </div>
  <ion-toolbar color="paleta" class="toolbar-c"> 
    
    <ion-buttons slot="end" class="boton-guesa">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="irHomeCli()">
     
      Ivan's
    </ion-title>
  </ion-toolbar>  

  <div class="categorias">
    <ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button>
  </div>
  
</ion-header>

<ion-content [fullscreen]="true" class="content-fondo">
  <ion-grid>
    <div>
      <ion-row>
        <ion-col>
          <h1 class="nombre-pag">Editar Perfil</h1>
        </ion-col>
      </ion-row>
    </div>

    <div>
      <ion-row>

        <ion-col >
          <div class="contenedor-imagen"> 
            <ion-img alt="No hay imagen" src="/assets/imagen.jpg"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="contenedor-form">
      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Nombre" type="text" placeholder="Nombre" [(ngModel)]="nombre" maxlength="15"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Apellido" type="text" placeholder="Apellido" [(ngModel)]="apellido" maxlength="15"></ion-input> 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Rut" type="text" placeholder="Rut"  [(ngModel)]="rut"  maxlength="8" ></ion-input> 
        </ion-col>

        <ion-col>
          <ion-input labelPlacement="stacked" label="Dvrut" type="text" placeholder="Dvrut" [(ngModel)]="dvrut"  maxlength="1" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Teléfono" type="text" placeholder="Teléfono" [(ngModel)]="fono" (ionInput)="onInput($event)"  #ionInputEl maxlength="8"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Dirección" type="text" placeholder="Dirección" [(ngModel)]="direc" maxlength="20"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Correo" type="email" placeholder="Correo" placeholder="Correo" [(ngModel)]="correo" maxlength="30"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-select labelPlacement="stacked" label="Pregunta de Seguridad" [(ngModel)]="pregunta">
            <ion-select-option value="pregunta1">Nombre de tu mascota</ion-select-option>
            <ion-select-option value="pregunta2">Color favorito</ion-select-option>
            <ion-select-option value="pregunta3">Lugar de nacimiento</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Respuesta" type="text" placeholder="Respuesta" [(ngModel)]="respuesta" maxlength="30"></ion-input>
        </ion-col>
      </ion-row>

    </div>

    <div class="contenedor-botones">
      <ion-row>
        <ion-col>
          <ion-button shape="round" (click)="envioValido()"> Guardar </ion-button>
        </ion-col>

        <ion-col>
          <ion-button shape="round" > Eliminar Cuenta </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>