<ion-header [translucent]="true" class="cabecera">
  <div class="logo-contenedor">
    <ion-img src="/assets/logo.png" alt="No hay logo"></ion-img>
  </div>
  <ion-toolbar color="paleta" class="toolbar-c"> 
    
    <ion-buttons slot="end" class="boton-guesa">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="irHomeCli()">
     
      Ivan's
    </ion-title>
  </ion-toolbar>
  
  <div class="categorias">
    <ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="cuerpo">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="nombre-pag" >Pedido</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="fecha">
        <h2>Pedido el: {{compra.fechaventa | date:"d/M/yyyy"}}</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="fecha">
        <h2>Llega el: {{compra.fechaentrega | date:"d/M/yyyy"}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="contenedor-prod" *ngFor="let x of detalles">
      <ion-col >
        <div class="contenedor-imagen">
          <ion-img [src]="x.foto" alt="No hay imagen, perdonar"></ion-img>
        </div>
      </ion-col>

      <ion-col class="texto">
        <h2>{{x.nombreprod}}</h2>
      </ion-col>

      <ion-col class="texto">
        <h2>{{x.cantidad}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="monto">
        <h2>Total de la compra: {{compra.total | currency:'$':true:'4.0-0'}}</h2>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
