<ion-header [translucent]="true" class="cabecera">
  
  <div class="logo-contenedor">
    <ion-img src="/assets/logo.png" alt="No hay logo"></ion-img>
  </div>
  <ion-toolbar color="paleta" class="toolbar-c"> 
    
    <ion-buttons slot="end" class="boton-guesa">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="irHomeAdm()">
      Ivan's
    </ion-title>
  </ion-toolbar>
  
  <div class="categorias">
    <ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button>
  </div>

</ion-header>

<ion-content [fullscreen]="true" class="content-fondo">
  <ion-grid>
    <div>
      <ion-row>
        <ion-col>
          <h1 class="nombre-pag">Agregar Productos</h1>
        </ion-col>
      </ion-row>
    </div>

    <ion-row *ngIf="(foto !== '')">
      <ion-col>
        <div class="contenedor-imagen">
          <ion-img [src]="foto" alt="No hay imagen :C"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center; margin: auto;">
        <ion-button class="boton-subir" (click)="takePicture()" style="text-align: center;">
          <ion-icon name="cloud-upload"></ion-icon>Subir imagen
        </ion-button>
      </ion-col>
    </ion-row>
  
    <div class="contenedor-form">

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Nombre" type="text" placeholder="Nombre" minheight="10" maxheigth="30" [(ngModel)]="nombre"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><pre class="validacion">{{msjNombre}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-select labelPlacement="stacked" label="Categoria" [(ngModel)]="categoria">
            <ion-select-option value="1">Herramientas</ion-select-option>
            <ion-select-option value="2">Fijaciones</ion-select-option>
            <ion-select-option value="3">Electricidad</ion-select-option>
            <ion-select-option value="4">Ropa</ion-select-option>
            <ion-select-option value="5">Seguridad</ion-select-option>
            <ion-select-option value="6">Gasfiteria</ion-select-option>
            <ion-select-option value="7">Kits</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjCate}}</pre></ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <ion-textarea labelPlacement="stacked" label="Descripcion" type="text" placeholder="Descripcion" minlength="30" maxlength="200" [(ngModel)]="desc" style="text-align: center;"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><pre class="validacion">{{msjDesc}}</pre></ion-col>
      </ion-row>
        
      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Precio" type="text" placeholder="Precio" minlength="4" [(ngModel)]="precio"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><pre class="validacion">{{msjPrecio}}</pre></ion-col>
      </ion-row>
        
      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Stock" type="number" placeholder="Stock" minlength="1" maxlength="6" [(ngModel)]="stock"></ion-input>
        </ion-col>
  
        <ion-col>
          <ion-select labelPlacement="stacked" label="Unidad Medida" [(ngModel)]="medida">
            <ion-select-option value="unidad1">Por unidad</ion-select-option>
            <ion-select-option value="unidad2">Por par</ion-select-option>
            <ion-select-option value="unidad3">Por metro</ion-select-option>
            <ion-select-option value="unidad4">Por docena</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjMedida}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjStock}}</pre></ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button shape="round"> Limpiar </ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" (click)="envioValido()"> Agregar </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
