.contenedor-form{


    ion-textarea{
        font-size: 21px;
        font-weight: bold;
        height: 85%;
        width: 100%;
        background: #fff;
        border: 2px solid #000;
        border-radius: 7px;
        text-align: left;
    }

}

