/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

//cosas de nuestro proyecto
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

*{ //De header
    font-family: 'Bebas Neue' !important;
    
  }

  ion-input{
    font-family: 'Sans-serif' !important;
  }
  
  .toolbar-c{  ///De Header
    --background: #999;
  }

  .cabecera{
    background: #000;
  }

  .nombre-pag{  //Puede servir en todas las paginas
    text-align: center;
    text-decoration: underline;
    color:#000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .boton-guesa{
    background: #000;
    height: 50px;
    color: #fff;
  }

  .titulo{ ///De Header
    position: relative;
    left: 45%;
    font-size: 30px;
    color: #fff;
    height: 50px;
  }

  
  
  .logo-contenedor{  ///De header
    position: relative;
    left: 45%;
    height: 50px;
    width: 50px;

    ion-img{
      width: 100%;
      height: 100%;
    }
  }


  .categorias{
    background: #cc0;
    color: #000;
    ion-button{
      color: #000;
      
    }
    
    ion-button:hover{
      background: var(--ion-color-paleta-shade);
      
    }
  }

  .content-fondo{
    --background: #fff;
  
}


.boton-subir{
  --background: #cc0;
  --border-color: #000;
  --color: #000;
  text-align: center;
  --margin: auto;
}

#inputInvis{
  position: absolute;
  opacity: 0;
}

.validacion{
  color: #a00;
  font-size: 18px;
}

.contenedor-form{
  background: #cc0;
  color: #000;
  border-radius: 7px;
  border: 2px solid #000;
  align-items: center;
  text-align: left;

  ion-input{
      font-size: 21px;
      font-weight: bold;
      height: 85%;
      width: 100%;
      background: #fff;
      border: 2px solid #000;
      border-radius: 7px;
      text-align: left;  
  }

  ion-select{
      font-size: 21px;
      font-weight: bold;
      height: 85%;
      width: 100%;
      text-align: left;
  }

  ion-button{
      padding-left: 10%;
      padding-right: 10%;
      font-size: 15px;
      --background: #000;
      text-align: center;
  }
}