@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);

*{
    font-family: 'Bebas Neue';
    
}

/**Encabezado **/

.container-fluid{
    height: 30vh;
    width: 100%;
    background: #000;

}

.container{
    height: 70vh;
    width: 100%;
    background: #fff;
}



.img_conta {
    width: 100px;
    height: 100px;  
    margin: auto;
}

.img_conta > img {
    border: 2px solid #000;
    width: 100%;
    height: 100%;
}


.titulo_conta > p{
    color: #fff;
    text-decoration: none;
    font-size: 38px;
}

.titulo_conta{
    text-align: center;
}

.pagina_title_cont{
    font-size: 25px;
    text-align: center;
    color: #000;
}
.pagina_texto_cont{
    font-size: 22px;
    text-align: center;
    color: #000;
}

.descarga_cont{
    font-size: 20px;
    text-align: center;
    color: #000;
}

#qrcode{
    margin: auto;
}


/**Medida small
@media screen and (min-width: 0px) and (max-width: 576px){

    *{
        text-align: center;
    }

    
    .contenedor-barra{
        min-height: 100vh;
    }

    .header-container{
        height: 50%;

    }

    .contenedor-nave{
        height: 50%;
        margin-top: -25%;
    }

    .nav-container{
       
        font-size: 20px;
        
    }

    .contenedor_buscar{
        display: inline;
    }

    .header-container__button-container{
        text-align: center;
        margin-bottom: 2%; 
        margin: auto;
    }
    
    .header-container__search-container{
        margin: auto;
    }

    .header-container__ul-container > ul > li{
        font-size: 18px;
    }

    .container{
        margin-top: 0px !important;
    }

    .body-container__p-container > h2{
        font-size: 50px;
    }
    
    .body-container__p-container > p{
        font-size: 30px;
    }

    .body-container-main{
        background-size: cover;
        background-image: url(../img/Fondo.jpg);
        background-repeat: repeat;
    }

    .body-container__p-container{
        padding-top: 50%;
        padding-left: 10%;
    }

    .container-fluid{
        background: #fff;
    }

    .links{
        font-size: 20px;
        border-bottom: 5px solid #880;
        border-right: none;
        text-align: left;
        margin-top: 0px;
        background: #ff0;
    }

    .ultimo{
        border-bottom: none;
    }

    .boton{
        font-size: 20px;
    }

    .tabla{
        font-size: 15px;
        width: 80%;
    }

    
    .bajo_main{
        height: 30%;
    }
        


}

/*Medium
@media screen and (min-width: 577px) and (max-width: 768px){



}
/*Large
@media screen and (min-width: 769px) and (max-width: 992px){

    .header-container__name-container > p{
        font-size: 33px;
    }

    .header-container__search-container >  input{
        border-radius: 15px;
        font-size: 30px;
    }

    .header-container__button-container > input{
        font-size: 25px;
    }

    .header-container__ul-container > ul > li{
        display: inline;
        border-right: 2px solid #fff;
        padding: 4px;
        font-size: 20px;
    }

    .nav-container{
        
        height: 20%;
        font-size: 30px;
        text-align: center;
    }

}
/*Extra Large
@media screen and (min-width: 993px) and (max-width: 1400px){

    .header-container__name-container > p{
        font-size: 33px;
    }

    .header-container__search-container >  input{
        border-radius: 15px;
        font-size: 30px;
    }

    .header-container__button-container > input{
        font-size: 25px;
    }

    .header-container__ul-container > ul > li{
        display: inline;
        border-right: 2px solid #fff;
        padding: 4px;
        font-size: 20px;
    }

    .nav-container{
        
        height: 20%;
        font-size: 30px;
        text-align: center;
    }

}
*/






