.contenedor-labels{
    color: #000;
    background: #cc0;
    border: 2px solid #000;
    border-radius: 7px;
    align-items: center;
    text-align: left;
    


    ion-label{
        font-size: 18px;
        font-weight: bold;
    }
}

.contenedor-form{
    margin-top: 25%;
    

    ion-textarea{
        font-size: 21px;
        font-weight: bold;
        height: 85%;
        width: 100%;
        background: #fff;
        border: 2px solid #000;
        border-radius: 7px;
        text-align: left;
    }


}