<ion-header [translucent]="true" class="cabecera">
  <div class="logo-contenedor">
    <ion-img src="/assets/logo.png" alt="No hay logo"></ion-img>
  </div>
  <ion-toolbar color="paleta" class="toolbar-c"> 
    
    <ion-buttons slot="end" class="boton-guesa">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="irHomeCli()">
     
      Ivan's
    </ion-title>
  </ion-toolbar>  

  <div class="categorias">
    <ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button>
  </div>
  
</ion-header>

<ion-content [fullscreen]="true" class="content-fondo">
  <ion-grid>
    <div>
      <ion-row>
        <ion-col>
          <h1 class="nombre-pag">Editar Perfil</h1>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <div class="contenedor-imagen">
          <ion-img [src]="foto" alt="No hay imagen :C"></ion-img>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col style="text-align: center; margin: auto;">
        <ion-button class="boton-subir" (click)="capturarImagen()" style="text-align: center;">
          <ion-icon name="cloud-upload"></ion-icon>Subir imagen
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <div class="contenedor-form">
      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Nombre" type="text" placeholder="Nombre" [(ngModel)]="nombre" maxlength="15"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjNombre}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Apellido" type="text" placeholder="Apellido" [(ngModel)]="apellido" maxlength="15"></ion-input> 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjApellido}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Rut" type="text" placeholder="Rut"  [(ngModel)]="rut"  maxlength="8" ></ion-input> 
        </ion-col>

        <ion-col>
          <ion-input labelPlacement="stacked" label="Dvrut" type="text" placeholder="Dvrut" [(ngModel)]="dvrut"  maxlength="1" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjRut}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Teléfono" type="text" placeholder="Teléfono" [(ngModel)]="fono" (ionInput)="onInput($event)"  #ionInputEl maxlength="8"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjFono}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Dirección" type="text" placeholder="Dirección" [(ngModel)]="direc" maxlength="20"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjDirec}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Correo" type="email" placeholder="Correo" placeholder="Correo" [(ngModel)]="correo" maxlength="30"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjCorreo}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-select labelPlacement="stacked" label="Pregunta de Seguridad" [(ngModel)]="pregunta" [compareWith]="compareFn">
            <ion-select-option *ngFor="let preg of preguntas" [value]="preg">{{preg.nombrepregunta}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjPreg}}</pre></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input labelPlacement="stacked" label="Respuesta" type="text" placeholder="Respuesta" [(ngModel)]="respuesta" maxlength="30"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col><pre class="validacion">{{msjResp}}</pre></ion-col>
      </ion-row>

    </div>

    <div class="contenedor-botones">
      <ion-row>

        <ion-col>
          <ion-button shape="round" (click)="borrarCuenta()"> Eliminar Cuenta </ion-button>
        </ion-col>

        <ion-col>
          <ion-button shape="round" (click)="envioValido()"> Guardar </ion-button>
        </ion-col>
        
      </ion-row>
    </div>
  </ion-grid>

</ion-content>