<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registrarse</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-input labelPlacement="stacked" label="Rut" placeholder="Rut"></ion-input>
    <ion-input labelPlacement="stacked" label="Nombre" placeholder="Nombre"></ion-input>
    <ion-input labelPlacement="stacked" label="Apellido" placeholder="Apellido"></ion-input>
    <ion-input labelPlacement="stacked" label="Teléfono" placeholder="Teléfono"></ion-input>
    <ion-input labelPlacement="stacked" label="Dirección" placeholder="Dirección"></ion-input>
    <ion-input labelPlacement="stacked" label="Correo" placeholder="Correo"></ion-input>
    <ion-input labelPlacement="stacked" label="Clave" placeholder="Clave"></ion-input>
    <ion-input labelPlacement="stacked" label="Clave" placeholder="Repita su clave"></ion-input>
    <ion-select labelPlacement="stacked" label="Pregunta de Seguridad">
      <ion-select-option value="pregunta1">Nombre de tu mascota</ion-select-option>
      <ion-select-option value="pregunta2">Color favorito</ion-select-option>
      <ion-select-option value="pregunta3">Lugar de nacimiento</ion-select-option>
    </ion-select>
    <ion-input labelPlacement="stacked" label="Respuesta" placeholder="Respuesta"></ion-input>
  </ion-grid>


</ion-content>
