<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center; font-size: 50px;">
      SkeletonApp
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>
      <ion-col><ion-input label="Usuario:" labelPlacement="stacked" [(ngModel)]="user1" [counter]="true" maxlength="8" minlength="3" errorText="Cantidad no valida de caracteres"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-input label="Contraseña:" labelPlacement="stacked" type="password" [(ngModel)]="clave" [counter]="true" minlength="4" maxlength="4" errorText="Cantidad no valida de caracteres" (ionInput)="onInput($event)"  #ionInputEl></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button (click)="irPagina1()">Iniciar sesión {{user1}}</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
    
  </ion-grid>


</ion-content>
