<ion-header [translucent]="true" class="cabecera">
  
  <div class="logo-contenedor">
    <ion-img src="/assets/logo.png" alt="No hay logo"></ion-img>
  </div>
  <ion-toolbar color="paleta" class="toolbar-c"> 
    
    <ion-buttons slot="end" class="boton-guesa">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="irHomeCli()">
      Ivan's
    </ion-title>
  </ion-toolbar>
  
  <div class="categorias">
    <ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button>
  </div>

</ion-header>

<ion-content [fullscreen]="true" class="cuerpo">

  <ion-grid >

    <ion-row class="texto">
      <ion-col><h1>Todo lo que necesitas para ese arreglo en el hogar lo encuentras aqui!</h1></ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
