.contenedor-form{
    margin-top: 50%;

    ion-input{
        font-size: 18px;
    }
}

.contenedor-botones{
    text-align: center;
    ion-button{
        font-size: 15px;
        --background: #000;
        color: #fff;
        text-align: center;
    }
}