<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons >
      <ion-menu-button>Pags</ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>
      <ion-col><ion-input label="Nombre:" placeholder="Ingrese nombre" [(ngModel)]="nombreC"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-input label="Apellido" placeholder="Ingrese apellido" [(ngModel)]="apellido"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-select label="Nivel educacional:" placeholder="Seleccione nivel" [(ngModel)]="nivelEdu">
        <ion-select-option value="basica">Enseñanza basica</ion-select-option>
        <ion-select-option value="media">Enseñanza media</ion-select-option>
        <ion-select-option value="superior">Enseñanza superior</ion-select-option>
      </ion-select></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-input label="Fecha de nacimiento:" type="date" [(ngModel)]="fechaNac"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-button color="danger" (click)="Limpiar()">Limpiar</ion-button></ion-col>
      <ion-col><ion-button (click)="Mostrar()">Mostrar</ion-button></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
