<ion-app>
  <ion-menu-toggle>
  <ion-menu contentId="main-content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          Paginas
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label (click)="irHome()">Pagina principal</ion-label>
        </ion-item>
        <ion-item>
          <ion-label (click)="irPagina1()">Pagina1</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>
  </ion-menu-toggle>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
