*{
  font-family: 'Bebas Neue';
  
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.boton-guesa{
  background: #000;
  height: 50px;
}

.toolbar-c{  ///de Header
  background: #000;
}

.titulo{ ///de Header
  position: relative;
  left: 45%;
  font-size: 30px;
  color: #fff;
  height: 50px;
}


.cuerpo{
  --background: url("/assets/Fondo.jpg");
}

.imagen{
  object-fit: cover;
}



.categorias{
  background: var(--ion-color-paleta);
  color: #000;
  ion-button{
    color: #000;
    
  }
  
  ion-button:hover{
    background: var(--ion-color-paleta-shade);
    
  }
}

.texto{
  top: 200px;
  position: relative;
  color: #dd0;
  border: solid;
  background: #000;
  text-align: center;
}

.logo-contenedor{  ///De header
  position: relative;
  left: 45%;
  height: 50px;
  width: 50px;
  ion-img{
    width: 100%;
    height: 100%;
  }
}
