<ion-header [translucent]="true" class="cabecera">
  <ion-toolbar color="paleta"> 
    <ion-buttons slot="end">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>

    <ion-title class="titulo">
      Ivan's
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-grid >

    <ion-row class="categorias" color="dark">
      <ion-col><ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button></ion-col>
    </ion-row>

    <ion-row class="cuerpo">
      <ion-img class="" src="/assets/Fondo.jpg"></ion-img>
    </ion-row>


  </ion-grid>


</ion-content>
