.boton-guesa{
  background: #000;
  height: 50px;
}

.toolbar-c{  ///de Header
  background: #000;
}

.titulo{ ///de Header
  position: relative;
  left: 45%;
  font-size: 30px;
  color: #fff;
  height: 50px;
}

.logo-contenedor{  ///De header
  position: relative;
  left: 45%;
  height: 50px;
  width: 50px;
  ion-img{
    width: 100%;
    height: 100%;
  }
}


.cuerpo{
  --background: url("/assets/Fondo.jpg");
}

.imagen{
  object-fit: cover;
}



.texto{
  top: 200px;
  position: relative;
  color: #dd0;
  border: solid;
  background: #000;
  text-align: center;
}

