<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Una caricia al alma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <img src="assets/imagen.jpg" alt="Una caricia al alma"/>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button [routerLink]="['/pagina1']" color="danger">Regresar</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

  

</ion-content>

