<ion-header [translucent]="true" class="cabecera">
  
  <div class="logo-contenedor">
    <ion-img src="/assets/logo.png" alt="No hay logo"></ion-img>
  </div>
  <ion-toolbar color="paleta" class="toolbar-c"> 
    
    <ion-buttons slot="end" class="boton-guesa">
      <ion-menu-button (click)="abrirSuperior()"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="irHomeAdm()">
      Ivan's
    </ion-title>
  </ion-toolbar>
  
  <div class="categorias">
    <ion-button (click)="abrirCategorias()" fill="clear">Categorias</ion-button>
  </div>

</ion-header>

<ion-content [fullscreen]="true" class="content-fondo">
 <ion-grid>
  <div>
    <ion-row>
      <ion-col>
        <h1 class="nombre-pag">Editar Roles</h1>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <table>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Admin</th>
      </tr>

      <tr *ngFor="let user of roles">
        <td>{{user.id_rol}}</td>
        <td>{{user.nombre_rol}}</td>
        <td *ngIf="(user.nombre_rol === 'cliente')"><mat-slide-toggle (click)="modificar(user)" checked></mat-slide-toggle></td>
        <td *ngIf="(user.nombre_rol === 'admin')"><mat-slide-toggle (click)="modificar(user)"></mat-slide-toggle></td>
      </tr>

    </table>

    

  </div>

  
 </ion-grid>
</ion-content>
