.contenedor-form{
    background: #ff0;
    color: #000;
    border: 2px solid #000;
    border-radius: 7px;
    align-items: center;
    text-align: left;
    margin-top: 25%;

    ion-input{
        font-size: 21px;
        font-weight: bold;
        height: 85%;
        width: 100%;
        background: #fff;
        border: 2px solid #000;
        border-radius: 7px;
        text-align: left;  
    }

    ion-button{
        font-size: 15px;
        font-weight: bold;
        --background: #000;
        color: #fff;
        text-align: center;
    }
}

